<!-- <svg height="210" width="300" xmlns="http://www.w3.org/2000/svg" class="quick-svg">
    <polyline points="10,55 10,30 295,30 295,0"
        style="fill: none; stroke: white; stroke-width: 3; stroke-dasharray: 5, 5;"></polyline>
</svg> -->
<div class="quick d-flex">
    <h1 class="m-auto">Quick</h1>
</div>
<!-- <svg height="210" width="300" xmlns="http://www.w3.org/2000/svg" class="advanced-svg">
    <polyline points="10,55 10,30"
        style="fill: none; stroke: white; stroke-width: 3; stroke-dasharray: 5, 5;"></polyline>
</svg> -->
<div class="advanced d-flex">
    <h1 class="m-auto">Advanced</h1>
</div>
<!-- <svg _ngcontent-ng-c110924994="" _ngcontent-ng-c7443077="" height="210" width="330" xmlns="http://www.w3.org/2000/svg"
    class="find-svg">
    <polyline _ngcontent-ng-c110924994="" _ngcontent-ng-c7443077="" points="310,55 310,30 10,30 10,0"
        style="fill: none; stroke: white; stroke-width: 3; stroke-dasharray: 5, 5;"></polyline>
</svg> -->
<div class="find-us d-flex">
    <h1 class="m-auto">Find us</h1>
</div>