img {
    display: flex;
    margin: auto;
    height: 220px;
}

.navigator {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    justify-content: space-evenly;
    margin-top: 10%;
}

.social {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
}

.row {
    height: 500px;
    position: relative;
    top: 50px;
}